/* By Athlon Front-End Team */

/* Core variables */
@import 'base/vars';

/* CSS Reset */
@import 'base/reset';

/* CSS print */
@import 'base/print';

/* Fonts */
@import 'base/fonts';

/* Mixins, helpers and functions */
@import 'base/mixins';

/* Vendor */

/* Components */
@import 'base/header';
@import 'base/hero';
@import 'base/intro';
@import 'base/map';
@import 'base/pictures';
@import 'base/form';


/* Browser specific styles */
@import 'dirty/hacks';

/* Demo styles */

body {
 
  font-family: 'DINP-R', arial, serif;
  color: white;
}

html, body{
  width: 100%;
  overflow-x: hidden;
}

.parallax{
  background-image: url(../images/content/parallax_medium.jpg);
  min-height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  @media (min-width: $pc1){
    background-image: url(../images/content/parallax.jpg);
  }
}


.component{
  margin-bottom: 0px;
  width: 100%;
}

.wrapper{
  max-width: 1184px;
  margin: 0 auto;
  position: relative;
  padding-left: 32px;
  padding-right: 32px; 
  padding-bottom: 32px;

}

h1{
  font-size: 32px;

  @media (min-width: $tab){
    font-size: 36px;
  }
  @media (min-width: $pc1){
    font-size: 40px;
  }
}
h2{
  font-size: 28px;

  @media (min-width: $tab){
    font-size: 32px;
  }
  @media (min-width: $pc1){
    font-size: 36px;
  }
}
h3{
  font-size: 26px;
  
  @media (min-width: $tab){
    font-size: 28px;
  }
  @media (min-width: $pc1){
    font-size: 32px;
  }
}
h4{
  font-size: 24px;
  
  @media (min-width: $tab){
    font-size: 26px;
  }
  @media (min-width: $pc1){
    font-size: 28px;
  }
}
h5{
  font-size: 20px;
  
  @media (min-width: $tab){
    font-size: 22px;
  }
  @media (min-width: $pc1){
    font-size: 24px;
  }
}
h6{
  font-size: 18px;
  
  @media (min-width: $pc1){
    font-size: 20px;
  }
}

